.contenedor {
  background-color: rgb(26, 45, 54);
  color: rgb(218, 236, 230);
  padding: 1em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.botonera{
  
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.fila {
  display:flex;
  flex-direction: row;
 justify-content: center;

}

.boton {
width: 6em;
height: 6em;
background-color: black;
color: aqua;
}
.boton:hover{
  background-color: rgb(26, 45, 54);
}
.boton:active{
  background-color: rgb(67, 86, 95);
}

.display{
  background-color: azure;
  color: rgb(26, 45, 54);
  font-size: 3em;
  border-radius: 20px;
  padding-left: 1em;
  margin-bottom:0.5em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}